.etel-table-container {
  width: 100%;
  overflow-x: auto;
  text-align: center;
  background-color: #884d4d;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.etel-table {
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 12px;
  background-color: aqua;
}

.etel-table th,
.etel-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
}

.etel-table th {
  background-color: #f38383;
  font-weight: bold;
}


.etel-table tr:nth-child(even) {
  background-color: #e79696;
}

.etel-table td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: inherit;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.etel-table .osszesito {
  background-color: rgb(66, 61, 116) !important;
}

.etel-table .input2 {
  width: 60px;
  padding: 5px;
  text-align: center;
}

.etel-table .button {
  margin-right: 5px;
  
}

.etel-table .adatok {
  text-align: center;
  
}

.etel-table input::-webkit-outer-spin-button,
.etel-table input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.etel-table button {
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  background-color: rgb(61, 116, 81) !important;
}

@media screen and (max-width: 600px) {
  .etel-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

