.cim{
    text-align: start;
    color: blue;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.image-item {
    max-width: 200px;
    text-align: center;
}


.media-container {
    text-align: center;
}

.media-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.media-item {
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

