h1{
    text-align: center !important;
    padding: 5px;
  }
  
  footer p{
    text-align: center !important;
    background-color: bisque;
    padding: 15px;
    font-family:'Times New Roman', Times, serif;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  
  article { 
    padding:10px;
    margin:10px;
    display:grid; 
    grid-gap: 10px; 
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(2,1fr);
    color:white;
    padding: 10px;
    border-radius: 10px;
    text-align: center !important;
  }
  aside{
    margin:10px;
    color:white;
    padding: 10px;
    border-radius: 10px;
    text-align: center !important;
  }
  

  .kezdokep img{
    width: 100%;
  }
  
  .kezdokep{
    padding: 5px;
    background-color: rgb(249, 203, 142);
    border-top-right-radius: 5px;
    
  }
  
  .elsonezet{
    padding:15px;
  }
  
  .navok{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px;  
    background-color: lightskyblue;  
  }
  
 

  

  .resetpasswordpage {
    padding: 2rem;
    font-family: Arial, sans-serif;
}

.resetpasswordpage article {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cim {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 0.5rem;
    text-align: center;
}

.resetpasswordpage span {
    font-size: 1rem;
    color: #333;
    display: block;
    text-align: center;
    word-break: break-word; /* hosszú email címekhez */
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-group1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.resetpasswordpage input {
    width: 100% !important;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 15px !important;
    box-sizing: border-box;
}

.resetpasswordpage button {
    width: 100%;
    padding: 0.75rem;
    background-color: #cc0000;
    color: white;
    border: none;
    border-radius: 15px !important;
    cursor: pointer;
    font-weight: bold;
}

.resetpasswordpage button:hover {
    background-color: #a50000;
}

.resetpasswordpage p {
    margin-top: 1rem;
    text-align: center;
    color: green;
}
