html, body {
  min-width: 850px;
  overflow-x: auto; /* Ha kisebb lenne, vízszintes görgetés jelenik meg */
}


.App {
  text-align: center;
  background-color: rgb(136, 255, 0);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

