html, body {
  min-width: 850px;
  overflow-x: auto; /* Ha kisebb lenne, vízszintes görgetés jelenik meg */
}


.App {
  text-align: center;
  background-color: rgb(136, 255, 0);
  padding: 15px;
}



